body {
  min-height: 100%;
  padding-top: 51px;
}

body.jumbo {
  padding-top: 71px;
}

@media (min-width: 768px) {
.navbar-right {
    margin-right: 0;
}

}

@media (max-width: 768px) {

.navbar {
    border-radius: 4px;
}

#nav-action .navbar-form {
    width: auto;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

}





/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.input-group select.form-control {
  width: 25%;
}
.input-group select.form-control:not(:first-child) {
      border-left: 0;
}

}
/* end Medium devices (desktops, 992px and up) */

.tk-select[value=off] {
  background-color: red;
}


.table.tb-manday tbody tr td{
  vertical-align: middle;
}

.table.tb-manday tbody tr td:nth-child(2) {
  width: 6%;
}

.table.tb-manday tbody tr td .input-group{
  width: 100%;
}

.input-group .form-control {

    z-index: 1
}